<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean name="dvdSingleton" class="mx.com.sintelti.entity.ReproductorDVD"/>
	
	<bean name="dvdPrototype" class="mx.com.sintelti.entity.ReproductorDVD" scope="prototype">
		<property name="noSerie" value="9356"></property>
		<property name="fabricante" value="Mitzu"></property>
	</bean>
	
	<bean name="mp3Prototype" class="mx.com.sintelti.entity.ReproductorMP3" scope="prototype">
		<property name="noSerie" value="23789"></property>
		<property name="fabricante" value="LG"></property>
	</bean>
	
	<bean name="blueRayPrototype" class="mx.com.sintelti.entity.ReproductorBlueRay" scope="prototype">
		<property name="noSerie" value="09873245"></property>
		<property name="fabricante" value="Logitech"></property>
	</bean>
</beans>
